
.main-content>p{
    text-align: center;
}

#main>h1{
    text-decoration-line: underline;
}

a {
    text-decoration: none;
    color: blue;
}

ol{
    text-align: center;
    width: 50%;
    margin-left: 23%;
}

.block{
    text-align: center;
    color: white;
    border: solid 1px black;
    width: 100%;
}

.red{
    width: 80%;
    border: solid 1px black;
    margin-left: 10%;
}

.green{
    width:40%;
    border: solid 1px black;
    padding: 5%;
    margin-left: 25%;
}